html, body{
  width:100%;
  height:100%;
  background-color: #FFFFFF;
}

header{
  width:100%;
  height:80px;
  background-color: #d5273a;
}

.data-table{
  margin-top:10px;
}

.plotContainer{
  width:100%;
  height:500px;
  float:right;
}

.row{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
}

.x_panel{
  background-color: #f5f5f5;
  border-style: solid;
  border-width: 1px;
  border-color: #e3e3e3;
}

.pull-left{
  color:white;
  font-size: 2.5em;
  margin-left:100px;
  float:left;
  margin-top: 16px;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);
}

a.pull-left:hover, a.pull-left.hover, a.pull-left:focus, a.pull-left.focus,
a.pull-left:visited{
  color:white;
  border-color: rgba(255, 255, 255, 0.4);
}

.title{
  color: white;
  float: left;
  margin-left:30px;
  font-size: 30px;
  margin-top:30px;
}

.logo{
  float:left;
  margin-left:20px;
  margin-top:15px;
}

.item.bad .alert-data{
  position:absolute;
  left:95%;
  margin-top:9px;
}

.refresh-alert{
  position: absolute;
  width:300px;
  left:calc(50% - 150px);
  top:50px;
  z-index: 10;
}

.btn{
  padding-left: 9px;
  padding-right: 9px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.dds-select{
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size:xx-small;
  border-width:2px;
}

.header-toolbar{
  float:right;
  padding-right: 100px;
  margin-top: 21px;
}

.header-btn{
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size:large;
  background-color: rgba(0,0,0,0.2);
  border-color: rgba(0,0,0,0.2);
}


.header-btn:hover, .header-btn:focus, .header-btn.focus,.header-btn:visited,
.header-btn:active:hover, .header-btn.active:hover, .header-btn:active:focus, .header-btn.active:focus{
    background-color:rgba(0,0,0,0.4);
    border-color: rgba(0,0,0,0.4);
}

.header-btn:active, .header-btn.active{
    border-color: rgba(0,0,0,0.8);
    background-color:rgba(0,0,0,0.4);
}

.dds-toolbar{
  float:right;
}

.loadie {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 0;
	height: 5px;
	-webkit-transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.25);
}

.btn-1{
  background-color: #5e81b5;
  border-color: #5e81b5;
}

.btn-1:hover, .btn-1:focus, .btn-1.focus,.btn-1:visited,
.btn-1:active:hover, .btn-1.active:hover, .btn-1:active:focus, .btn-1.active:focus{
    background-color: #4f6d99;
    border-color: #4f6d99;
}

.btn-1:active, .btn-1.active{
    border-color: #314460;
    background-color: #5e81b5;
}

.btn-2{
  background-color: #e7b050;
  border-color: #e7b050;
}

.btn-2:hover, .btn-2:focus, .btn-2.focus,.btn-2:visited,
.btn-2:active:hover, .btn-2.active:hover, .btn-2:active:focus, .btn-2.active:focus{
    background-color: #c2861f;
    border-color: #c2861f;
}

.btn-2:active, .btn-2.active{
    border-color: #8f6317;
    background-color: #e7b050;
}

.btn-3{
  background-color: #8fb131;
  border-color: #8fb131;
}

.btn-3:hover, .btn-3:focus, .btn-3.focus,.btn-3:visited,
.btn-3:active:hover, .btn-3.active:hover, .btn-3:active:focus, .btn-3.active:focus{
    background-color: #779429;
    border-color: #779429;
}

.btn-3:active, .btn-3.active{
    border-color: #4e611b;
    background-color: #8fb131;
}

.btn-4{
  background-color: #ec6235;
  border-color: #ec6235;
}

.btn-4:hover, .btn-4:focus, .btn-4.focus,.btn-4:visited,
.btn-4:active:hover, .btn-4.active:hover, .btn-4:active:focus, .btn-4.active:focus{
    background-color: #d1572f;
    border-color: #d1572f;
}

.btn-4:active, .btn-4.active{
    border-color: #9e4224;
    background-color: #ec6235;
}

.btn-5{
  background-color: #8778b3;
  border-color: #8778b3;
}

.btn-5:hover, .btn-5:focus, .btn-5.focus,.btn-5:visited,
.btn-5:active:hover, .btn-5.active:hover, .btn-5:active:focus, .btn-5.active:focus{
    background-color: #716596;
    border-color: #716596;
}

.btn-5:active, .btn-5.active{
    border-color: #4b4363;
    background-color: #8778b3;
}

.btn-6{
  background-color: #c56e1a;
  border-color: #c56e1a;
}

.btn-6:hover, .btn-6:focus, .btn-6.focus,.btn-6:visited,
.btn-6:active:hover, .btn-6.active:hover, .btn-6:active:focus, .btn-6.active:focus{
    background-color: #a85e16;
    border-color: #a85e16;
}

.btn-6:active, .btn-6.active{
    border-color: #75420f;
    background-color: #c56e1a;
}

.btn-7{
  background-color: #5d9ec8;
  border-color: #5d9ec8;
}

.btn-7:hover, .btn-7:focus, .btn-7.focus,.btn-7:visited,
.btn-7:active:hover, .btn-7.active:hover, .btn-7:active:focus, .btn-7.active:focus{
    background-color: #4f87ab;
    border-color: #4f87ab;
}

.btn-7:active, .btn-7.active{
    border-color: #375f78;
    background-color: #5d9ec8;
}

.btn-8{
  background-color: #ffbf00;
  border-color: #ffbf00;
}

.btn-8:hover, .btn-8:focus, .btn-8.focus,.btn-8:visited,
.btn-8:active:hover, .btn-8.active:hover, .btn-8:active:focus, .btn-8.active:focus{
    background-color: #e3aa00;
    border-color: #e3aa00;
}

.btn-8:active, .btn-8.active{
    border-color: #b08400;
    background-color: #ffbf00;
}

.btn-9{
  background-color: #a5609d;
  border-color: #a5609d;
}

.btn-9:hover, .btn-9:focus, .btn-9.focus,.btn-9:visited,
.btn-9:active:hover, .btn-9.active:hover, .btn-9:active:focus, .btn-9.active:focus{
    background-color: #8a5083;
    border-color: #8a5083;
}

.btn-9:active, .btn-9.active{
    border-color: #573252;
    background-color: #a5609d;
}

.btn-10{
  background-color: #929600;
  border-color: #929600;
}

.btn-10:hover, .btn-10:focus, .btn-10.focus,.btn-10:visited,
.btn-10:active:hover, .btn-10.active:hover, .btn-10:active:focus, .btn-10.active:focus{
    background-color: #777a00;
    border-color: #777a00;
}

.btn-10:active, .btn-10.active{
    border-color: #464700;
    background-color: #929600;
}
